<div lex="" ng-cloak="" class="gridList container" style="padding-top: 0px; padding-left: 0px;">
    <article style="text-align: justify;">
        <div style="display: inline-flex; padding: 0px 43px 0px 36px; font-size: 41px; color: #f16448; line-height: 35px;">
            <img style="hmax-height: 230px;" src="/../../img/ups-a-01.png">
            <div style="padding-left: 25px; padding-top: 40px;">
                <div>Универсальное устройство бесперебойного питания</div>
                <div style="font-size: 30px; padding-top: 15px;">с правильной синусоидой и солнечной зарядкой</div>
            </div>
        </div>

        <md-grid-list style="padding-top: 25px;" md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="8px" md-gutter-gt-sm="4px">

            <md-grid-tile ng-repeat="n in [].constructor(16) track by $index"
                          md-rowspan="1"
                          md-colspan="1"
                          md-colspan-sm="1"
                          md-colspan-xs="1"
                          class="gray" >
                <img ng-click="showFullImg($index, $event)" ng-src="{{getImageSrc('/img/product_img/img_prev_', $index+1)}}"/>
            </md-grid-tile>
        </md-grid-list>

        <div class="gray list">
            <img style="height: 80px;" src="/../../img/sin_w.png">
            <div style="font-size: 24px; line-height: 30px; padding: 10px 0px 0px 15px;">
                Предназначено для гарантированого питания потребителей стабильным напряжением ~220V. При преобразовании формирует <b>идеальную форму синусоиды</b>
            </div>
        </div>
        <div class="gray list">
            <img style="height: 80px; margin-right: 30px;" src="/../../img/eco.png">
            <div style="font-size: 24px; line-height: 30px; padding: 10px 0px 0px 15px;">
                Специальный режим ЕКО позволяет <b>економить электроэнергию</b>, используя по возможности энергию внешнего источника
            </div>
        </div>
        <div class="gray list">
            <img src="/../../img/sepic.png">
            <div style="font-size: 22px; line-height: 30px; padding: 15px 0px 15px 20px;">
                Дополнительная зарядка с преобразователем <b>SEPIC</b> позволяет заряжать аккумулятор от разных источников электроэнергии (солнечных батарей напряжением 7-30V,
                термоелектрических преобразователей, внешних аккумуляторов 12V или 24V)
            </div>
        </div>
        <div class="gray list">
            <img src="/../../img/shield.png">
            <div style="font-size: 24px; line-height: 30px; padding: 30px 0px 15px 20px;">
                При наличии сети, <b>защищает</b> от пониженного и повышенного напряжения, <b>стабилизирует и фильтрует</b> от помех выходное напряжение
            </div>
        </div>
        <div class="gray list">
            <img style="height: 87px" src="/../../img/cooling.png">
            <div style="font-size: 24px; line-height: 30px; padding: 15px 0px 15px 20px;">
                Прибор разработан с <b>минимальным тепловыделением</b>, что позволяет встраивать его в закрытые ящики
            </div>
        </div>
        <div class="gray list">
            <img style="padding-left: 8px; height: 87px; margin-right: 7px;" src="/../../img/power.png">
            <div style="font-size: 24px; line-height: 30px; padding: 15px 0px 15px 20px;">
                <b>Мощность</b> преобразователя 600Вт (кратковременно 800Вт) позволяет автономно питать устройства до 1000ВА
            </div>
        </div>
        <div class="gray list">
            <img style="margin-top: 15px; height: 80px;" src="/../../img/battery.jpg">
            <div style="font-size: 22px; line-height: 30px; padding: 0px 0px 15px 20px;">
                Встроена <b>мощная зарядка для аккумуляторов большой емкости</b> (ток заряда до 9А) поддерживает полностью заряженным аккумулятор в рабочем режиме,
                и имеет специальный алгоритм хранения с <b>предотвращением сульфатации</b> в выключенном состоянии. Есть <b>защита от глубокой разрядки аккумулятора</b>
            </div>
        </div>
    </article>
</div>