<div class="list-group container" style="padding-right: 0px">

    <!--  Product Container  -->
    <div style="border: 0px;" class="list-group-item col-md-3" ng-repeat="product in products | orderBy:'-name':true">

        <!-- $index Practice:  -->
        <a style="cursor: pointer;" ng-click="showAdvanced(product, $event)"><h3>{{product.name}}</h3></a>
        <div>
            <img ng-click="addToShopCart(product, $event)" class="pull-left" style="max-height: 30px; padding-right: 10px;" ng-src="/img/cart.png">
            <h4 class="pull-left">{{product.price | currency: "₴"}}</h4>
        </div>

        <!-- Image Gallery  -->
        <div ng-show="product.images.length" style="margin-top: 60px">
            <div class="img-wrap">
                <img ng-click="showAdvanced(product, $event)" ng-src="{{product.images[product.currentImageIndex]}}" class="img-thumbnail center-block"/>
            </div>
            <ul class="img-thumbnails clearfix">
                <li class="small-image pull-left thumbnail" ng-repeat="image in product.images" ng-click="currentImageChange(product, $index)">
                    <img ng-src="{{image}}"/>
                </li>
            </ul>
        </div>

        <!-- Product Tabs  -->
        <product-tabs></product-tabs>

    </div>
</div>