<section>
  <!--  Tab Navigation  -->
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href="" ng-click="tab.setTab(1)">{{translation.SPEC}}</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href="" ng-click="tab.setTab(2)">{{translation.DESCRIPTION}}</a>
    </li>
  </ul>
  <!--  Spec Tab's Content  -->
  <specs ng-show="tab.isSet(1)"></specs>
  <!--  Description Tab's Content  -->
  <descriptions ng-show="tab.isSet(2)"></descriptions>
</section>
