<md-dialog aria-label="Shopping Cart" style="min-width: 80%;">
    <form name="shoppingCartForm" ng-model-options="{ updateOn: 'blur' }" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Корзина</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list ng-cloak>
                <md-list-item ng-repeat="product in getOrder().products" class="noright">
                    <img alt="{{ product.name }}" ng-src="{{ product.images[0] }}" class="md-avatar"/>

                    <p>{{ product.name }}</p>
                    <input style="max-width: 70px;" class="md-secondary" required type="number" step="any"
                           ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                           ng-model="product.quantity" name="quantity" min="1" max="4999" ng-pattern="/^1234$/"/>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>

            <div layout="column" ng-cloak>

                <md-subheader class="md-no-sticky">Заполните, пожалуйста, форму чтобы мы могли с Вами связатся
                </md-subheader>

                <md-input-container class="md-block">
                    <label>Имя</label>
                    <input required name="name" ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                           ng-model="getOrder().name"/>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Номер телефона</label>
                    <input required name="phone" ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                           ng-model="getOrder().phone"/>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Email</label>
                    <input name="email" ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                           ng-model="getOrder().email"
                           required minlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Коментарий к заказу</label>
                    <textarea md-maxlength="300" rows="5" md-select-on-focus
                              ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                              ng-model="getOrder().message"></textarea>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit" ng-click="submit()">
                Отправить заказ
            </md-button>
            <md-button ng-click="answer('not useful')">
                Закрить
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>