<md-dialog aria-label="Shopping Cart" style="min-width: 80%;">
    <form ng-submit="submit()" name="shoppingCartForm" ng-model-options="{ updateOn: 'blur' }" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Корзина</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon md-svg-src="/img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list style="padding: 10px;" ng-cloak>
                <md-list-item ng-repeat="product in getOrder().products" class="noright">
                    <img alt="{{ product.name }}" ng-src="{{ product.images[0] }}" class="md-avatar"/>
                    <p>{{ product.name }}</p>
                    <h4 style="padding-right: 10px;">{{product.price | currency: "₴"}}</h4>
                    <input style="max-width: 40px;" class="md-secondary" required type="number" step="any"
                           ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                           ng-model="product.quantity" name="quantity" min="1" max="99" ng-pattern="/^1234$/"/>
                    <md-button class="md-icon-button" ng-click="removeItemFromOrder(getOrder().products, product)">
                        <md-icon md-svg-src="/img/icons/ic_close_24px.svg" aria-label="remove"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>

            <div><h4 style="padding: 10px;">Всего: {{calculateTotalSum(getOrder().products) | currency: "₴"}}</h4></div>

            <md-divider></md-divider>

            <div style="padding: 10px;" layout="column" ng-cloak>

                <md-subheader class="md-no-sticky">Заполните, пожалуйста, форму чтобы мы могли с Вами связатся
                </md-subheader>

                <md-input-container class="md-block">
                    <label>Имя</label>
                    <input required name="name" ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                           ng-model="getOrder().name"/>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Номер телефона</label>
                    <input required name="phone" ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                           ng-model="getOrder().phone"/>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Email</label>
                    <input name="email" ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                           ng-model="getOrder().email"
                           required minlength="5" maxlength="100" ng-pattern="/^.+@.+\..+$/"/>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Коментарий к заказу</label>
                    <textarea md-maxlength="300" rows="5" md-select-on-focus
                              ng-model-options="{allowInvalid: true, updateOn: 'change'}"
                              ng-model="getOrder().message"></textarea>
                </md-input-container>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button type="submit" class="md-raised md-primary">Отправить заказ</md-button>
                <md-button class="md-raised md-warn" ng-click="cancel()">Отменить заказ</md-button>
            </section>
        </md-dialog-actions>
    </form>
</md-dialog>